<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="NavBar.css">
    <title>Document</title>
</head>

<body>
    <div className="navbar">

        <div className="nav-header">
            <div className="nav-logo">
                <a href="#">
                   <img src="../college_faq/public/img/general/logo.jpeg" width="55px" height="55px" alt="logo" />
                </a>
            </div>
        </div>
        <div className="s-bar">
        <div>
            <input type="text" id="search" placeholder="Search Colleges, Courses, Exams, QnA, & Articles"
            style="width: 84%; padding: 12px; border-radius: 8px; background-color: white;">
        </div>
        <div style="width: 100px; margin-left: 550px; margin-top: -40px;">
        <a href=""><button type="button" name="Search" className="s1">Search</button></a>
        </div>
    </div>
        
        <input type="checkbox" id="nav-check">
        <div className="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

       
        <div className="nav-links">

           
            <div className="dropdown">
                <a className="dropBtn" href="#">About MBA
                    <i className="fas fa-angle-down"></i>
                </a>
                <div className="drop-content">
                    <a href="#">Why MBA</a>
                    <a href="#">MBA vs PGDM</a>
                    <div className="dropdown2">
                        <a className="dropBtn2" href="#">Admission Process
                            <i className="fas fa-angle-right"></i>
                        </a>
                        <div className="drop-content2">
                            <a href="#">MBA AdmissionProcess</a>
                            <a href="#">IIM Admission</a>
                            <a href="#">IIM Admission Criteria</a>
                            <a href="#">New IIMS Process CAP</a>
                        </div>
                    </div>
                    <div className="dropdown2">
                        <a className="dropBtn2" href="#">MBA Specialization
                            <i className="fas fa-angle-right"></i>
                        </a>
                        <div className="drop-content2">
                            <a href="#">MBA in Marketing</a>
                            <a href="#">MBA in Finance</a>
                            <a href="#">MBA in HR</a>
                            <a href="#">MBA in Operations</a>
                            <a href="#">MBA in International Business</a>
                            <a href="#">MBA in Business Analytics</a>
                            <a href="#">More Specialization</a>
                        </div>
                    </div>
                    <div className="dropdown2">
                        <a className="dropBtn2" href="#">Types of MBA
                            <i className="fas fa-angle-right"></i>
                        </a>
                        <div className="drop-content2">
                            <a href="#">Online MBA</a>
                            <a href="#">Executive MBA</a>
                            <a href="#">Distance MBA</a>
                            <a href="#">Integrated MBA</a>
                            <a href="#">Part Time MBA</a>
                        </div>
                    </div>
                </div>
            </div>

            <div className="dropdown">
                <a className="dropBtn" href="#">Colleges
                    <i className="fas fa-angle-down"></i>
                </a>
                <div className="drop-content">
                    <div className="dropdown2">
                        <a className="dropBtn2" href="#">Top MBA Colleges
                            <i className="fas fa-angle-right"></i>
                        </a>
                        <div className="drop-content3">
                            <a href="#">NIRF MBA Colleges Ranking</a>
                            <a href="#">Top Government</a>
                            <a href="#">Top Private MBA Colleges</a>
                        </div>
                    </div>

                    <div className="dropdown2">
                        <a className="dropBtn2" href="#">Top Colleges in States
                            <i className="fas fa-angle-right"></i>
                        </a>
                        <div className="drop-content4">
                            <a href="#">Top Colleges in Maharashtra</a>
                            <a href="#">Top Colleges in Delhi</a>
                            <a href="#">Top Colleges in UP</a>
                            <a href="#">Top Colleges in Karnataka</a>
                            <a href="#">Top Colleges in Haryana</a>
                            <a href="#">Top Colleges in West Bengal</a>
                            <a href="#">All Locations</a>
                        </div>
                    </div>
                    <div className="dropdown2">
                        <a className="dropBtn2" href="#">Top Colleges in Cities
                            <i className="fas fa-angle-right"></i>
                        </a>
                        <div className="drop-content5">
                            <a href="#">Top Colleges in Delhi/NCR</a>
                            <a href="#">Top Colleges in Pune</a>
                            <a href="#">Top Colleges in Mumbai</a>
                            <a href="#">Top Colleges in Bangalore</a>
                            <a href="#">Top Colleges in Kolkata</a>
                            <a href="#">Top Colleges in Chandigarh</a>
                            <a href="#">Top Colleges in Dehradun</a>
                        </div>
                    </div>
                    <a href="#">Compare Colleges</a>
                    <a href="#">Featured Colleges</a>
                </div>
            </div>



            <div className="dropdown">
                <a className="dropBtn" href="#">MBA Specialization
                    <i className="fas fa-angle-down"></i>
                </a>
                <div className="drop-content">
                    <a href="#">MBA in Marketing Colleges</a>
                    <a href="#">MBA in Finance Colleges</a>
                    <a href="#">MBA in HR Colleges</a>
                    <a href="#">MBA in Rural Management Colleges</a>
                    <a href="#">MBA in Operations Colleges</a>
                    <a href="#">MBA in Healthcare Colleges</a>
                    <a href="#">MBA in International Business Colleges</a>
                    <a href="#">MBA in Business Analytics Colleges</a>
                    <a href="#">MBA in Banking Colleges</a>
                    <a href="#">More Specialization</a>
                </div>
            </div>

           
            <div className="dropdown">
                <a className="dropBtn" href="#">MBA Exams
                    <i className="fas fa-angle-down"></i>
                </a>
                <div className="drop-content">
                    <a href="#">CAT 2022</a>
                    <a href="#">XAT 2023</a>
                    <a href="#">MAT</a>
                    <a href="#">SNAP 2022</a>
                    <a href="#">ATMA</a>
                    <a href="#">NMAT 2022</a>
                    <a href="#">CMAT 2023</a>
                    <a href="#">IBSAT</a>
                    <a href="#">MAH CET</a>
                    <a href="#">All MBA Exams</a>
                    <a href="#">Exam Calander</a>
                </div>
            </div>

            <div className="dropdown">
                <a className="dropBtn" href="#">More Courses
                    <i className="fas fa-angle-down"></i>
                </a>
                <div className="drop-content">
                    <div className="dropdown2">
                        <a className="dropBtn2" href="#">Management
                            <i className="fas fa-angle-right"></i>
                        </a>
                        <div className="drop-content6">
                            <a href="#">BBA</a>
                            <a href="#">MBA</a>
                        </div>
                    </div>
                    
                    <div className="dropdown2">
                        <a className="dropBtn2" href="#">Computer Application
                            <i className="fas fa-angle-right"></i>
                        </a>
                        <div className="drop-content8">
                            <a href="#">BBA</a>
                            <a href="#">MBA</a>
                        </div>
                    </div>
                    
                </div>
            </div>


            <div className="dropdown">
                <a className="dropBtn" href="#">Admission
                    <i className="fas fa-angle-down"></i>
                </a>
                <div className="drop-content">
                    <div className="dropdown2">
                        <a className="dropBtn2" href="#">Counsselling
                            <i className="fas fa-angle-right"></i>
                        </a>
                        <div className="drop-content7">
                            <a href="#">Ask a Question</a>
                            <a href="#">Request a Call Back</a>
                        </div>
                    </div>
                    <a href="#">Compare Colleges</a>
                    <a href="#">Colleges Predictor</a>
                    <a href="#">Education Loan</a>
                </div>
            </div>
            <div className="dropdown1">
                <a href="">Login</a>
                <button>SignUp</button>
            </div>
          </div>

    </div>
</body>

</html>